/* body {
  height: 100%;
  margin: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2GVfheWQmFGu-nrcSs8aUbxKls1DAL7TOFg&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  } */